@page "/counter"

@inject Services Ser1
<h1>Search Movie</h1>
<div class="form-inline">

    <div class="form-group mb-2">
        <label for=" title" class="sr-only">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Movie Name" @bind-value="title" @bind-value:event="oninput"
               @onkeypress="@((KeyboardEventArgs e)=>TitleKeypress(e))" />



    </div>

    <div class="form-group mx-sm-3 mb-2">
        <input type="checkbox" class="form-check-input" />
        <label class="form-check-label" />

        <input type="checkbox" class="form-check-input" />
        <label class="form-check-label" />

    </div>
    <button type="button" class="btn btn-primary mb-2 mx-sw-3" @onclick="SearhForMovie">Filter</button>
    <button type="button" class="btn btn-danger mb-2 mx-sw-3" @onclick="Clear">Clear</button>
    <div class="movie-container">
        <Loop D1="Movies"/>
    </div>

</div>


@code
{
    private List<Datas> Movies;
    string title = "";
    protected override void OnInitialized()
    {
        Movies= Ser1.GetData();
    }
    private void SearhForMovie()
    {
        Movies = Ser1.GetData().Where(x => x.Name.Contains(title)).ToList();
    }
    private void Clear()
    {
        Movies = Ser1.GetData();
        title = "";

    }
    private void TitleKeypress(KeyboardEventArgs e)
    {
        if(e.Key=="Enter")
        {
            SearhForMovie();
        }
    }



}
