<div class="individual-movie-container">

    <img src="@D2.Poster" />
    <div class="individual-movie-container p">
        <p>@D2.Id</p>
        <p>@D2.Name</p>

    </div>


</div>





@code {

    [Parameter] public Datas D2 { get; set; }

}
